apiVersion: v1
kind: Template
metadata: {}
objects:
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    creationTimestamp: null
    name: ${NAME}${SUFFIX}
- kind: Role
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: ${NAME}${SUFFIX}
  rules:
  - apiGroups: [""] # "" indicates the core API group
    resources: ["pods"]
    verbs: ["get", "watch", "list"]
- apiVersion: rbac.authorization.k8s.io/v1
  kind: RoleBinding
  metadata:
    creationTimestamp: null
    name: ${NAME}${SUFFIX}
  roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: ${NAME}${SUFFIX}
  subjects:
  - kind: ServiceAccount
    name: ${NAME}${SUFFIX}
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    annotations:
      openshift.io/generated-by: OpenShiftNewApp
    creationTimestamp: null
    labels:
      app: ${NAME}
    name: ${NAME}${SUFFIX}
  spec:
    replicas: 1
    selector:
      app: ${NAME}${SUFFIX}
      deploymentconfig: ${NAME}${SUFFIX}
    strategy:
      resources: {}
    template:
      metadata:
        annotations:
          openshift.io/generated-by: OpenShiftNewApp
        creationTimestamp: null
        labels:
          app: ${NAME}
          deploymentconfig: ${NAME}${SUFFIX}
      spec:
        serviceAccountName: "${NAME}${SUFFIX}"
        containers:
        - name: ${NAME}${SUFFIX}
          image: ' '
          env:
            - name: OPENSHIFT_KUBE_PING_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPENSHIFT_KUBE_PING_LABELS
              value: "deploymentconfig=${NAME}${SUUFIX}"
            - name: CATALINA_OPTS
              value: "-Djava.security.egd=file:/dev/./urandom"
          ports:
          - containerPort: 8080
            protocol: TCP
          - containerPort: 8443
            protocol: TCP
          - containerPort: 8778
            protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 1
          resources: {}
    test: false
    triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
        - ${NAME}${SUFFIX}
        from:
          kind: ImageStreamTag
          name: ${NAME}${SUFFIX}:${TOMCAT_IMAGE_TAG}
      type: ImageChange
  status:
    availableReplicas: 0
    latestVersion: 0
    observedGeneration: 0
    replicas: 0
    unavailableReplicas: 0
    updatedReplicas: 0
- apiVersion: v1
  kind: Service
  metadata:
    annotations:
      openshift.io/generated-by: OpenShiftNewApp
    creationTimestamp: null
    labels:
      app: ${NAME}
    name: ${NAME}${SUFFIX}
  spec:
    ports:
    - name: 8080-tcp
      port: 8080
      protocol: TCP
      targetPort: 8080
    - name: 8443-tcp
      port: 8443
      protocol: TCP
      targetPort: 8443
    - name: 8778-tcp
      port: 8778
      protocol: TCP
      targetPort: 8778
    selector:
      deploymentconfig: ${NAME}${SUFFIX}
  status:
    loadBalancer: {}
- apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    annotations:
      haproxy.router.openshift.io/balance: roundrobin
      haproxy.router.openshift.io/disable_cookies: 'true'
    labels:
      app: ${NAME}
    name: ${NAME}${SUFFIX}
  spec:
    port:
      targetPort: 8080-tcp
    to:
      kind: Service
      name: ${NAME}
      weight: 100
    wildcardPolicy: None
  status:
    ingress: []
parameters:
- description: Name used for all created objects
  displayName: Name
  name: NAME
  required: true
  value: ha-tomcat9
- description: A suffix appended to all objects
  name: SUFFIX
  value: -dev
- name: TOMCAT_IMAGE_TAG
  value: "9.0.27"
